doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      link(rel='stylesheet', href='assets/main.css')
  body(class=bodyclass)
    .jumbotron
      .container
        .col-md-3
          a.photo.img-rounded(href='/')
        div.signature.col-md-9
          h1.whitebg= owner
          p.whitebg
            span #{name} | #{description}
          .social.whitebg
            a(href='https://github.com/valotas' target="_blank")
              i.fa.fa-github-square.fa-2x
            a(href='https://www.facebook.com/valotas' target="_blank")
              i.fa.fa-facebook-square.fa-2x
            a(href='https://twitter.com/valotas' target="_blank")
              i.fa.fa-twitter-square.fa-2x
            a(href='http://www.linkedin.com/in/valotas' target="_blank")
              i.fa.fa-linkedin-square.fa-2x
    #content.container
      block header
      block content
        h2 Welcome to zombocom!
    #footer
      .container &copy; #{ owner }
        | - CSS by
        a(href="http://twitter.com/P_Dei" target="_blank") @P_Dei
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-12048148-1', 'valotas.com');
  ga('send', 'pageview');

