extends layout

block content
  div#index-content
    each article in articles
      div.article
        h2.header
          a(href=article.url)= article.title
        div.date= moment.utc(article.date).format('YYYY-MM-DD')
        div.descr
          !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.more
              a(href=article.url) more

block prepend footer
  if prevPage
    a(href=prevPage.url) « Newer
  else
    a(href='/archive.html') « Archives
  if nextPage
    a(href=nextPage.url) Next page »



