!!! 5
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title
        block title
          = name
      link(rel='alternate', href=url+'/feed.xml', type='application/rss+xml', title=description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      link(rel='stylesheet', href='/assets/main.css')
  body(class=bodyclass)
    div.jumbotron
      div.container
        div.col-md-3
          a.photo.img-rounded(href=sitemap.homepage().url)
        div.signature.col-md-9
        h1= owner
        p
          span #{name} | #{description}
        div.social
          a(href='https://github.com/valotas')
            i.fa.fa-github.fa-3x
          a(href='https://www.facebook.com/valotas')
            i.fa.fa-facebook-square.fa-3x
          a(href='https://twitter.com/valotas')
            i.fa.fa-twitter.fa-3x
          a(href='http://www.linkedin.com/in/valotas')
            i.fa.fa-linkedin.fa-3x
    #content.container
      block header
      block content
        h2 Welcome to zombocom!
    #footer.container
      block footer
        hr
        div.row
          p &copy; #{ moment().year() } #{ owner } &mdash; powered by&nbsp;
            a(href='http://nodejs.org/' targe='_blank') nodeJS
            |, 
            a(href='http://expressjs.com/' targe='_blank') expressjs
            |, 
            a(href='http://getbootstrap.com/' targe='_blank') Bootstrap
            | &nbsp;css framework, 
            a(href='http://fontawesome.io/' targe='_blank') Fontawesome
            | &nbsp;and my bad UX expertise :)
