doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='Tq6L96TOcvuR7nl6ikpW4tV4PUoA6zYK1-CArKe3ji0')
    link(rel='shortcut icon' href='./favicon.ico')
    link(rel='stylesheet' href='./page.css')
    script(src='./index.ts' type='module' async=true)
    title!= title
    | !{styles}
  body
    div(id='app')!= body 
    script(type='application/json')!= base64
